body {
  margin: 0;
  overflow: hidden;
}

#ui {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;

  background: rgba(0,0,0,0.7);
  color: white;

  padding: 10px;
  border-radius: 12px;

  width: 180px;
}

button {
  width: 100%;
  margin-top: 6px;
  padding: 8px;
  border-radius: 8px;
  border: none;
}

.hide {
  display: none;
}